.Parent{
display: grid;
grid-template-columns:62% 32%;
width: 94%;
height: 100%;
padding: 3%;
}
.Half{
  display:flex;
  flex-direction: column;
}

.Topic{
  color: #FFF;
font-family: Jua;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 2%;
margin-left: 3%;
margin-bottom: 5%;

}

.Img{
  max-height: 340px;
  width: auto;
  height: 100%;
  object-fit: cover;
  max-width: 700px;
  margin-left: 3%;
}

.Phone{
  min-width:max-content;
  margin-right: 3%;
  margin-left: 3%;

}


.Clock{
margin-right: 3%;
margin-left: 3%;

}
.Email{
margin-right: 3%;
margin-left: 3%;


}

.Input{
  border: none;
  border-bottom: 2px solid white;
  width: 94%;
  margin: 3%;
  background:transparent;
  outline:none;
  color: white;
}

.InputSingle{
  border: none;
  border-bottom: 2px solid white;
  width: 93%;
  margin: 3%;
  margin-bottom: 1%;
  background:transparent;
  outline:none;
  color: white;
}
.InputSingle::placeholder{
  color: white;
}
.Input::placeholder{
  color: white;

}
.FormArea{
  display: flex;
 flex-direction: column;
 width: 100%;

}

.FormAreaRow{
 display: flex;
 flex-direction: row;
}

.OneThird{
  color: #FFF;
font-family: Jua;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: center;
display:flex;
margin-left: 6%;
width: 100%;
}

.Box{
  border-radius: 51.5px;
  margin-top: 5%;
  width: 496px;
  height: 122px;
  flex-shrink: 0;
  background-color:rgba(217, 217, 217, 0.2);

}
.Button{
  margin:3%;
  background-color: rgba(192, 176, 112, 0.5);
  color:white;
  padding: 3%;
  width: fit-content;
  border-radius: 40px;
}
